.page-header h1 {
    text-align: center;
}

nav {
    border-bottom: solid;
    margin-left: 64px;
    margin-right: 64px;
}

footer {
    border-top: dotted;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 256px;
    text-align: center;
}

#main_section {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}