html {
    -webkit-text-size-adjust: 100%;
}
#header {
    width: inherit;
    margin: auto;
}
#footer {
    width: inherit;
    margin: auto;
}
body {
    width: 60%;
    margin: auto;
    background-color: whitesmoke;
}
#main {
    width: inherit;
    margin: auto;
}

#main_image img {
    max-width: 100%;
}